div.Boxshadow {
    box-shadow: 10px 9px 24px -7px rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

div.Boxshadow:hover {
    box-shadow: 10px 9px 24px 0px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease-in-out;
}
.carousel-item {
    transition: opacity 0.3s ease-in-out; /* Smooth transition for carousel images */
}
.card-body {
    height: 150px; /* Adjust as necessary */
    overflow: hidden; /* Prevent overflow */
}
.card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}